.aboutPage {
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'RussoOne-Regular';
  margin: auto;
  width: 98%;
  @media screen and (min-width: $min-width-tablet) {
    width: 90%;
  }

  h1 {
    font-family: 'NorseBold';
    // font-size: 26px;
    @include transition250ms;
    &:hover {
      color: white;
    }
  }

  p,
  h3,
  h4,
  li {
    @include transition250ms;
    &:hover {
      color: white;
    }
  }
  &__download {
    // flex: 1;
    // box-shadow: gray;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 $warmorange;
    display: flex;
    padding: 2% 8%;
    margin: 1% auto;
    a {
      margin: auto;
      // padding: 5%;
    }
  }
  &__body {
    border-radius: 0 0 50px 50px;
    // flex: 0;
    // margin-bottom: 50px;
    // align-items: stretch;

    // display: flex;
    // flex/: 1;
    &__intro {
      margin-top: 5%;
      border: 1px dotted $dark-mistblue;
      display: flex;
      @media screen and (min-width: $min-width-tablet) {
        display: grid;
        grid-template-columns: 50% 50%;
      }
      &__image {
        border: 1px dotted $dark-mistblue;
        padding: 5%;
        display: none;
        @media screen and (min-width: $min-width-tablet) {
          display: block;
        }
        border: 1px dotted $dark-mistblue;
        border-radius: 50%;
        opacity: 0.6;
        @include transition250ms;
        @include hoverGlow20;
        &:hover {
          opacity: 1;
        }
      }
      &__narrative {
        border: 1px dotted $dark-mistblue;
        text-align: left;
        @include hoverGlow20;
        &__greet {
          color: $darkest-mistblue;
          font-size: 26px;
        }
        &__greetName {
          // color: $light-warmorange;
          color: $lightest-warmorange;
          font-size: 48px;
        }
        &__textbox {
          // color: $darkest-mistblue;
          width: 100%;
        }
      }
    }
    &__skills {
      display: grid;
      grid-template-columns: 50% 50%;

      &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px dotted $dark-mistblue;
        @include hoverGlow20;
        &__heading {
          padding: 5%;
        }
        &__body {
          padding: 5%;
          font-size: 0.8em;
        }
      }
    }
    &__experience {
      // padding: 5%;
      text-align: left;

      display: flex;
      flex-direction: column;
      &__section {
        padding: 5%;
        border: 1px dotted $dark-mistblue;
        @include hoverGlow20;
      }
    }
  }
}
