.aboutPage {
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'RussoOne-Regular';
  margin: auto;
  width: 98%;
  @media screen and (min-width: $min-width-tablet) {
    width: 90%;
  }

  h1 {
    font-family: 'NorseBold';
    @include transition250ms;
    &:hover {
      color: white;
    }
  }

  p,
  h3,
  h4,
  li {
    @include transition250ms;
    &:hover {
      color: white;
    }
  }
  &__download {
    border-radius: 15px;
    box-shadow: 0 0 6px 0 $warmorange;
    display: flex;
    padding: 2% 8%;
    margin: 1% auto;
    a {
      margin: auto;
    }
  }
  &__body {
    border-radius: 0 0 50px 50px;
    &__intro {
      margin-top: 5%;
      border: 1px dotted $dark-mistblue;
      display: flex;
      position: relative;
      width: 100%;
      @media screen and (min-width: $min-width-tablet) {
        display: grid;
        grid-template-columns: 50% 50%;
      }
      &__image {
        border: 1px dotted $dark-mistblue;
        padding: 5%;
        @media screen and (max-width: $min-width-tablet) {
          position: absolute;
          margin-bottom: auto;
          width: 25%;
        }
        border: 1px dotted $dark-mistblue;
        border-radius: 50%;
        opacity: 0.6;
        @include transition250ms;
        @include hoverGlow20;
        &:hover {
          opacity: 1;
        }
      }
      &__narrative {
        @include hoverGlow20;
        border: 1px dotted $dark-mistblue;
        padding: 5%;
        width: 100%;
        &__greet {
          color: $darkest-mistblue;
          font-size: 26px;
          text-align: left;
          @media screen and (max-width: $min-width-tablet) {
            text-align: right;
          }
        }
        &__greetName {
          text-align: left;
          @media screen and (max-width: $min-width-tablet) {
            text-align: right;
          }
          color: $lightest-warmorange;
          font-size: 2.3em;
          padding-bottom: 10px;
        }
        &__textbox {
          @include textSize_p;
          text-align: left;
        }
      }
    }
    &__skills {
      display: grid;
      grid-template-columns: 50% 50%;

      &__column {
        border: 1px dotted $dark-mistblue;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4%;
        @include hoverGlow20;
        &__heading {
          @include textSize_h3;
          color: $darkest-mistblue;
        }
        &__body {
          padding: 5%;
          @include textSize_li;
        }
      }
    }
    &__experience {
      display: flex;
      flex-direction: column;
      padding-bottom: 180px;
      text-align: left;
      &__section {
        @include textSize_li;
        @include hoverGlow20;
        border: 1px dotted $dark-mistblue;
        padding: 4%;
        &__heading {
          @include textSize_h3;
          color: $darkest-mistblue;
        }
      }
    }
  }
}
