.contactPage {
  font-family: 'RussoOne-Regular';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  width: 95%;
  &__section {
    border: 2px solid $mistblue;
    border-radius: 35px;
    &__form {
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      width: 85%;
      @media screen and (min-width: $min-width-tablet) {
        width: 75%;
        font-size: 20px;
      }
      // width: 85%;
      &__field {
        display: flex;
        flex-direction: column;

        &__label {
          font-size: 1.1em;
          margin-bottom: 1.5%;
          text-align: left;
        }
        &__input {
          width: 100%;
          padding: 4px;
          font-size: 14px;
          @media screen and (min-width: $min-width-tablet) {
            font-size: 20px;
          }
          border: none;
          border-radius: 7px;
          @include hoverGlow20;
          &:active {
            background-color: $light-warmorange;
          }
          margin-bottom: 5%;
        }
        #messageBox {
          height: 12vh;
        }
      }
      &__submit {
        border: none;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        margin: 8%;
        font-size: 1.4em;
        border-radius: 10px;
        cursor: pointer;
        background: linear-gradient(
          20deg,
          rgba(200, 125, 45, 1) 0%,
          rgba(218, 135, 70, 1) 30%,
          rgba(220, 140, 65, 1) 40%,
          rgba(235, 145, 55, 1) 50%,
          rgba(235, 145, 55, 1) 65%,
          rgba(235, 145, 55, 1) 75%,
          rgba(240, 195, 150, 1) 90%
        );
        &:hover {
          box-shadow: 0 0 20px #ddd;
          // outline-style: solid;
          // outline-color: $dark-mistblue;
          // outline-width: thick;
          color: $dark-mistblue;
          background: linear-gradient(
            20deg,
            rgba(238, 165, 100, 1) 0%,
            rgba(239, 175, 120, 1) 30%,
            rgba(240, 185, 140, 1) 40%,
            rgba(241, 195, 160, 1) 50%,
            rgba(243, 205, 180, 1) 65%,
            rgba(245, 215, 200, 1) 75%,
            rgba(250, 218, 210, 1) 85%,
            rgba(255, 220, 220, 1) 90%
          );
        }
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
      }
    }
  }
  &__social {
    display: flex;
    justify-content: space-evenly;
    padding: 15% 5% 5% 5%;
    &__icon {
      cursor: pointer;
      border-radius: 50%;
      @include hoverGlow20;
      padding: 2%;
      color: white;
      &:hover {
        color: $warmorange;
      }
    }
  }
}
