.contactPage {
  font-family: 'RussoOne-Regular';
  display: flex;
  justify-content: center;
  width: 100%;
  &__section {
    border: 2px solid $mistblue;
    border-radius: 35px;
    margin: auto 15px 15px 15px;
    width: 95%;
    &__form {
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
      &__field {
        display: flex;
        flex-direction: column;

        &__label {
          margin-bottom: 1.5%;
          text-align: left;
        }
        &__input {
          border: none;
          border-radius: 7px;
          @include hoverGlow20;
          &:active {
            background-color: $light-warmorange;
          }
          margin-bottom: 5%;
        }
        #messageBox {
          height: 12vh;
        }
      }
      &__submit {
        border: none;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        margin: 8%;
        font-size: 1.4em;
        border-radius: 10px;
        cursor: pointer;
        background: linear-gradient(
          20deg,
          rgba(200, 125, 45, 1) 0%,
          rgba(218, 135, 70, 1) 30%,
          rgba(220, 140, 65, 1) 40%,
          rgba(235, 145, 55, 1) 50%,
          rgba(235, 145, 55, 1) 65%,
          rgba(235, 145, 55, 1) 75%,
          rgba(240, 195, 150, 1) 90%
        );
        &:hover {
          box-shadow: 0 0 20px #ddd;
          // outline-style: solid;
          // outline-color: $dark-mistblue;
          // outline-width: thick;
          color: $dark-mistblue;
          background: linear-gradient(
            20deg,
            rgba(238, 165, 100, 1) 0%,
            rgba(239, 175, 120, 1) 30%,
            rgba(240, 185, 140, 1) 40%,
            rgba(241, 195, 160, 1) 50%,
            rgba(243, 205, 180, 1) 65%,
            rgba(245, 215, 200, 1) 75%,
            rgba(250, 218, 210, 1) 85%,
            rgba(255, 220, 220, 1) 90%
          );
        }
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
      }
    }
    &__social {
      // margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      &__icon {
        cursor: pointer;
        border-radius: 50%;
        @include hoverGlow20;
        padding: 2%;
        &:hover {
          color: $warmorange;
        }
      }
    }
  }
}
