.flyingButton {
  animation-name: flyingButtonFade;
  background-image: radial-gradient(
    closest-side at 50% 50%,
    rgba(235, 185, 85, 1) 25%,
    rgba(235, 145, 55, 1) 65%,
    rgba(235, 145, 55, 1) 85%,
    rgba(92, 230, 255, 0.43) 90%,
    rgba(0, 0, 0, 0) 95%
  );
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  height: 40px;
  width: 40px;
  @include hoverGlow20;
  animation-duration: 0.8s;
  opacity: 0;
  visibility: hidden;
  &:hover {
    opacity: 0.7;
  }
}
