.interactPage {
  // border: 1px solid white;
  margin: auto;
  margin-bottom: 60%;

  &__heading {
    &__letters {
      color: white;
      cursor: default;
      font-size: 1.6em;
      font-family: 'Archaic-Roman';
      @include transition250ms;
      span {
        @include hoverGlow20;
        &:hover {
          color: white;
        }
      }
    }
    &__icon {
      @include transition250ms;
      justify-content: center;
      @include hoverGlow20;
      &:hover {
        color: white;
      }
    }
  }

  &__menu {
    // border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;

    &__post {
      background-color: $mistblue;
      border: 1px solid $warmorange;
      border-radius: 25px;
      padding: 5%;
      &__title {
        font-size: 1.4em;
        font-weight: bold;
        color: white;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
