// Stiling for the Coming Soon reactive font

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 5em;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  background-color: #002731;
  padding-top: 10em;
}

h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 600;
  color: #cb3126;
}

h1 span span {
  position: relative;
  animation: move-text-color 0.75s forwards;
  bottom: -1em;
  opacity: 0;
}
