@mixin selectButton {
  background: linear-gradient(
    20deg,
    rgba(200, 125, 45, 1) 0%,
    rgba(218, 135, 70, 1) 30%,
    rgba(220, 140, 65, 1) 40%,
    rgba(235, 145, 55, 1) 50%,
    rgba(235, 145, 55, 1) 65%,
    rgba(235, 145, 55, 1) 75%,
    rgba(240, 195, 150, 1) 98%
  );
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
  &:hover {
    box-shadow: 0 0 20px #ddd;
    // outline-style: solid;
    // outline-color: $dark-mistblue;
    // outline-width: thick;
    color: $dark-mistblue;
    background: linear-gradient(
      20deg,
      rgba(238, 165, 100, 1) 0%,
      rgba(239, 175, 120, 1) 30%,
      rgba(240, 185, 140, 1) 40%,
      rgba(241, 195, 160, 1) 50%,
      rgba(243, 205, 180, 1) 65%,
      rgba(245, 215, 200, 1) 75%,
      rgba(250, 218, 210, 1) 85%,
      rgba(255, 220, 220, 1) 90%
    );
  }
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

@mixin textSize_p {
  font-size: 0.9em;
  @media screen and (min-width: $min-width-tablet) {
    font-size: 1.2em;
  }
  @media screen and (min-width: $min-width-desktop) {
    font-size: 1.3em;
  }
}

@mixin textSize_li {
  font-size: 0.9em;
  @media screen and (min-width: $min-width-tablet) {
    font-size: 1.2em;
  }
  @media screen and (min-width: $min-width-desktop) {
    font-size: 1.3em;
  }
}

@mixin textSize_h3 {
  font-size: 1.1em;
  @media screen and (min-width: $min-width-tablet) {
    font-size: 1.3em;
  }
  @media screen and (min-width: $min-width-desktop) {
    font-size: 1.5em;
  }
}

@mixin transition250ms {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
@mixin hoverGlow20 {
  @include transition250ms();
  &:hover {
    box-shadow: 0 0 20px $warmorange;
  }
}
@mixin hoverGlow40 {
  @include transition250ms();
  &:hover {
    box-shadow: 0 0 40px $warmorange;
  }
}
@mixin hoverGlowBorder {
  @include transition250ms();
  &:hover {
    outline-style: solid;
    outline-color: $warmorange;
    outline-width: thick;
    box-shadow: 0 0 40px $warmorange;
  }
}
