.pagePanel {
  z-index: $zi_pagePanel;
  border-radius: 50px;
  position: absolute;
  background-color: $mistblue;
  width: 95%;
  margin: auto;
  max-width: 800px;
  min-height: 40vh;
  top: 15%;
  left: 2.5%;
  padding-bottom: 5%;
  border: 2.4px solid $dark-mistblue;

  @media screen and (min-width: $min-width-tablet) {
    width: 80%;
    left: 10%;
  }
  @media screen and (min-width: 1000px) {
    width: 50%;
    left: 25%;
  }

  &__heading {
    // position: absolute;
    // top: 20%;
    text-align: left;
    margin-left: 10%;
    margin-top: 2%;
    font-family: 'RussoOne-Regular';
    font-size: 42px;
    transform: rotate(-7deg);
    @media screen and (min-width: $min-width-tablet) {
      font-size: 50px;
    }

    &__char:hover {
      cursor: default;
      color: white;
    }
  }
}
