//  Portfolio Page styling

.portfolioPage {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  min-height: 50vh;
  @media screen and (min-width: $min-width-tablet) {
    flex-direction: row-reverse;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    font-family: 'RussoOne-Regular';
    font-size: 20px;
    border-radius: 0 0 0 50px;
    @media screen and (min-width: $min-width-tablet) {
      border-radius: 0 0 50px 0;
    }
    background: linear-gradient(
      45deg,
      rgba($mistblue, 0.8),
      rgba($mistblue, 0.4)
    );
    // padding: 3%;
    // margin-top: 8%;
    @include hoverGlow20;
    &__expandButton {
      width: 100%;

      padding: 5%;
      @include selectButton;
    }
    &__buttonContainer {
      display: flex;
      flex-direction: row;

      &__button {
        width: 50%;
        @include selectButton;
      }
    }
    &__selectContainer {
      flex: 1;
      margin-bottom: 20px;
      // height: 100%;
      // margin-top: auto;
      &__category {
        border-top: 2px solid $warmorange;
        margin: 5px;
        &__title {
          font-size: 16px;
        }
      }
    }
  }

  &__body {
    border-radius: 0 0 50px 0;
    @media screen and (min-width: $min-width-tablet) {
      border-radius: 0 0 0 50px;
    }

    &__tiles {
      background-color: $mistblue;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $min-width-tablet) {
        display: grid;
        grid-template-columns: 50% 50%;
      }

      @media screen and (min-width: $min-width-desktop) {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
      }
      @include hoverGlow20;

      &__tile {
        border: 0.1px solid $warmorange;
        min-height: 24vh;
        height: 75vw;
        @media screen and (min-width: $min-width-tablet) {
          height: 35vw;
        }
        @media screen and (min-width: $min-width-desktop) {
          height: 20vw;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        &:hover {
          outline-style: solid;
          outline-color: $warmorange;
          outline-width: thick;
          box-shadow: 0 0 40px $warmorange;
        }
        &__image {
          object-fit: cover;
          object-position: left;
        }
        &__info {
          height: 100%;
          cursor: default;
          display: flex;
          flex-direction: column;
          &__title {
            height: 15%;
            margin: 10px;
            &__link {
              font-size: 24px;
              font-family: 'RussoOne-Regular';
              color: $darkest-warmorange;
              text-decoration: none;
              @include hoverGlow20;
            }
          }
          &__description {
            font-family: 'RussoOne-Regular';
            height: 70%;
            margin: 0 2%;
          }
          &__techIcons {
            background-color: $light-mistblue;
            border-radius: 15px;
            display: flex;
            height: 20%;
            justify-content: center;
            margin: 10px 2% 20px 2%;
            &__icon {
              margin: 2%;
            }
          }
        }
      }
    }
  }
}
