//  Portfolio Page styling

.portfolioPage {
  // background-color: $mistblue;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 98%;
  min-height: 50vh;
  // height: 100%;
  // overflow: scroll;

  @media screen and (min-width: $min-width-tablet) {
    flex-direction: row-reverse;
  }

  &__filter {
    font-family: 'RussoOne-Regular';
    font-size: 20px;
    border-radius: 0 0 0 50px;
    @media screen and (min-width: $min-width-tablet) {
      border-radius: 0 0 50px 0;
    }
    background: linear-gradient(
      45deg,
      rgba($mistblue, 0.8),
      rgba($mistblue, 0.4)
    );
    // padding: 3%;
    // margin-top: 8%;
    @include hoverGlow20;
    &__expandButton {
      width: 100%;
      padding: 5%;
      @include selectButton;
    }
    &__buttonContainer {
      display: flex;
      flex-direction: row;

      &__button {
        width: 50%;
        @include selectButton;
      }
    }
  }

  &__body {
    border-radius: 0 0 50px 0;
    @media screen and (min-width: $min-width-tablet) {
      border-radius: 0 0 0 50px;
    }
    height: 100%;

    &__tiles {
      background-color: $mistblue;
      display: flex;
      flex-direction: column;
      // display: grid;
      // grid-template-columns: 100%;
      // margin-top: 5%;

      // height: 100%;

      @media screen and (min-width: $min-width-tablet) {
        display: grid;
        grid-template-columns: 50% 50%;
      }

      @media screen and (min-width: $min-width-desktop) {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
      }
      @include hoverGlow20;

      &__tile {
        padding: 5%;
        border: 20px solid red;
        // height: 50%;

        @media screen and (min-width: $min-width-tablet) {
          height: 25vh;
          // height: 800px;
        }
        @media screen and (min-width: $min-width-desktop) {
          height: 200px;
        }
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        &:hover {
          outline-style: solid;
          outline-color: $warmorange;
          outline-width: thick;
          box-shadow: 0 0 40px $warmorange;
        }
        &__info {
          padding: 5%;
          cursor: default;
          // height: 40vh;
          &__detail {
            margin: 10%;
            font-family: 'RussoOne-Regular';

            #portfolioItem_url {
              font-size: 24px;

              // color: $darkest-warmorange;
              color: $darkest-mistblue;
              text-decoration: none;
              @include hoverGlow20;
            }
            #portfolioItem_description {
              font-family: 'RussoOne-Regular';
            }
          }
        }
      }
    }
  }
}
